<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Shop Smart!!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- <script src="/assets/js/loadShopSmartDOM.js"></script> --}}
		<style>
		table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
		}

		td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
		}

		tr:nth-child(even) {
		background-color: #dddddd;
		}
		</style>
	</head>
	<body>
    <h1>Shop Smart - Product Inventory</h1>
              <table class="table table-bordered">
                  <thead>
                    <tr>
    				  <th>Product Name</th>
    				  <th>UPC-Code</th>
					  <td><th>Best Buy Price ($)</th></td>
					  <td><th>Amazon Price ($)</th></td>
                    </tr>
                  </thead>
                  <tbody class="prodtabbody">
					{{{ body }}}
                  </tbody>
                </table>  
	</body>
</html>
