#home{
  margin:0;
  padding:0;
  background: url("wallpaper.jpg");
  background-size: cover;
  background-position: center top;
  font-family: sans-serif;
  background-repeat: no-repeat;

}

.jumbotron {
  border-radius: 20px;
}
#jumbo,#results{
  margin: auto;
}
#errMsg{
  display: none;
  text-align: center;
}
